{% extends 'layouts/app.twig' %}
{% block pageclass %}education{% endblock %}
{% block title %}Counseling{% endblock %}

{% block content %}

<section class="hero hero-education">
    <div class="hero__container container">
        <h1>Counseling</h1>
    </div>
</section>

<section class="tabs">
    <ul class="tabs__nav">
        <li data-tab="smoking" class="is--active">Smoking Cessation</li>
        <li data-tab="med-review">Medication Review</li>
        <li data-tab="diabetes">Diabetes Education</li>
        <li data-tab="pain">Pain Management</li>
    </ul>
    <div class="tabs__body">
        <div class="tabs__content is--active" data-tab="smoking">
            <div class="container">
                <div class="column-7 text">
                    <h2>Smoking Cessasion</h2>
                    <p>Quitting smoking is the best thing you can do to improve your life and health. Any attempt to quit smoking will make you stronger. It's never too late to reap the benefits, some of which happen within the first few days. With the right combination of practice, determination and support, you will be able to stop smoking for good.</p>
                    <p>Here at Amherstburg Pharmacy Compounding & Wellness we want to help you increase your chance of effectively quitting. We offer cessation programs that employ a combination of coaching, and pharmacological counseling as well as a variety of industry leading products that are tested and proven to help you fight the urge to smoke.</p>
                </div>
                <div class="column-5 images">
                    <img src="/assets/img/smoking.jpg" draggable="false">
                </div>
            </div>
        </div>

        <div class="tabs__content" data-tab="med-review">
            <div class="container">
                <div class="column-7 text">
                    <h2>In Store Review</h2>
                    <p>If you qualify for MedsCheck, you can set up a free meeting with your pharmacist to discuss:</p>
                    <ul>
                        <li>What medications you are taking</li>
                        <li>How they work together and possible side effects</li>
                        <li>How to avoid bad interactions</li>
                        <li>How to use inhalers, needles, etc.</li>
                    </ul>
                    <p>Your pharmacist will also answer any questions you have about your medication.</p>
                </div>
                <div class="column-5 images">

                </div>

                <div class="column-7 text">
                    <h2>In Home Review</h2>
                    <p>Has your medicine cabinet filling up with expired and unknown medications? A part of our comprehensive in home solutions we offer a convenient medicine cabinet cleanup service that’s available to anyone in the community.</p>
                    <p>Upon request, one of our trained professionals will visit your home and assess your on hand medications. Together you can determine what is safe to keep from what is expired or harmful. As part of our medicine cabinet cleanup service we also ensure the safe and proper disposal of all expired or unwanted medications.</p>
                </div>
                <div class="column-5 images">
                    <img src="/assets/img/cab-clean-bg.jpg" draggable="false">
                </div>
            </div>
        </div>

        <div class="tabs__content is--active" data-tab="diabetes">
            <div class="container">
                <div class="column-7 text">
                    <h2>Diabetes Education</h2>
                    <p>Our Pharmacists and Pharmacy Technicians are specially trained in Diabetes Disease Management. We offer consolation and coaching to both help you prevent diabetes and get the support you need to monitor and balance life with diabetes. We’ll gladly help show you how to measure your blood sugar levels and advise you on your nutrition. We can also be provide you with critical information regarding the medication you take to manage your diabetes. Diabetes Ontario Canadian Diabetes Association.</p>
                </div>
                <div class="column-5 images">

                </div>
            </div>
        </div>

        <div class="tabs__content is--active" data-tab="pain">
            <div class="container">
                <div class="column-7 text">
                    <h2>Pain Management</h2>
                    <p>Chronic pain may have a myriad of causes and perpetuating factors, and therefore can be much more difficult to manage than acute pain, requiring a multidisciplinary approach and customized treatment protocols to meet the specific needs of each patient. Our Team consist of trained professionals that are able to asses pain causing conditions and offer viable pain management solutions.</p>
                    <p>Optimal treatment may involve the use of medications that possess pain-relieving properties, or rehabilitation programs to naturally address pain causing conditions. Either way, our onsite medical professionals are available and eager to help you start living pain free.</p>
                </div>
                <div class="column-5 images">
                    <img src="/assets/img/pain-bg.jpg" draggable="false">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
