.tabs {

    &__nav {
        background-color:#efefeb;
        list-style-type:none;
        display:flex;
        padding:1rem;

        @media screen and (max-width:48em) {
            flex-direction:column;
        }

        li {
            padding:0 1rem;
            border-right:solid 2px #758691;
            font-family:$font-two;
            font-weight:800;
            cursor:pointer;
            font-size:1.1rem;
            color:#758691;
            text-align: center;

            @media screen and (max-width:32em) {
                border-bottom:solid 2px #758691;
                border-right:none;
                padding:1rem;

                &:last-of-type {
                    border-bottom:none;
                }
            }

            &:last-of-type {
                border-right:none;
            }

            &.is--active {
                color:$primary;
            }
        }
    }

    &__body {
        padding:3rem 1rem;
        padding-right:0;

        @media screen and (max-width:48em) {
            padding-right:2rem;
        }

        .tabs__content {
            display:none;
            padding-top:2rem;
            position:relative;

            &:before {
                content:'';
                position:absolute;
                left:4%;
                top:0;
                width:90%;
                height:2px;
                background-color:#cdcdc5;
            }

            &.is--active {
                display:block;
            }

            .container {
                padding-right:0;

                .column-7 {

                    h2 {
                        font-size:2.2rem;
                        font-weight:800;
                        position:relative;
                        width:auto;
                        margin-bottom:3rem;

                        &:after {
                            content:'';
                            position:absolute;
                            width:20%;
                            height:3px;
                            background-color:$primary;
                            left:0;
                            bottom:-.25rem;
                        }
                    }

                    h4 {
                        font-weight:800;
                        margin-top:2rem;
                        margin-bottom:2rem;
                        position:relative;

                        &:after {
                            content:'';
                            position:absolute;
                            left:0;
                            bottom:-1rem;
                            width:100%;
                            height:2px;
                            background-color:#cdcdc5;
                        }
                    }

                    h3 {
                        font-weight:800;
                    }

                    p, ul, ol, li {
                        line-height:2;
                    }

                    ul, ol {
                        margin-bottom:1rem;
                    }

                    p {
                        
                        span {
                            font-size:1.3rem;
                            font-weight:800;
                            line-height:1;
                        }
                    }
                }
                
                .column-5 {
                    margin-right:0;

                    img {
                        max-width:100%;
                    }
                }
            }
        }
    }
}